/* =================== BASIC STYLES =================== */
/* Sets background to fill the entire window */
html {
    font-family: arial;
    background-color:#f5f5f5;
    background: url("../images/background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}

body {
    margin:0;
    padding:0;
    color:#181818;
    overflow-x:hidden;
    height:100%;
}

a {
    font-family: yanone kaffeesatz;
    text-decoration:none;
    color:#76393d;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

a:hover {
    color:#181818;
}


/* =================== INDIVIDUAL PAGE STYLES =================== */
#home-page, #artists-page, #activities-page, #video-page, #schedule-page, #faq-page {
    height:100%;
}
.window {
    min-height:100%;
}

#faq-page {
    height:130%;
}

/* =================== FOOTER STYLES =================== */
/* Places mountain range at the bottom of the page always. Content scrolls behind it. */
footer {
    min-width:1600px;
    width:100%;
    overflow-x:hidden;
    position:fixed;
    bottom:-1em;
}

#mountains {
    min-height:200px;
    max-width:100%;
}

/* Positions compass logo */
.logo-container {
    max-width:20%;
    position:fixed;
    bottom:-6em;
    left: 7em;
    z-index:-999;
}

.logo-container img {
    height:100%;
    width:100%;
    min-height: 330px;
    min-width: 330px;
}

.sponsors {
    position:absolute;
    z-index:1;
    left:20px;
    bottom:15px;
}

.sponsors img {
    margin-right:30px;
}

.sponsors .line2, .sponsors .line3 {
    display:inline-block;
}


/* =================== MENU STYLES =================== */
/* Places menu bar at the top of the page always. Content scrolls behind it. */
header {
    background-color:#191919;
    color:#ffffff;
    text-align:center;
    font-family: yanone kaffeesatz;
    font-weight: 200;
    font-size: 1.5em;
    position: fixed;
    top:0;
    width:100%;
    z-index:999;
    display:block;
}

/* Menu elements */

header ul {
    margin:0;
    padding:0;
}

header ul li {
    list-style-type: none;
    margin:0;
    padding:0;
    display:inline-block;
}

header ul a {
    color:#ffffff;
    text-decoration:none;
    padding: .2em .8em;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    height:100%;
    display:inline-block;
}

header ul a:hover {
    color:#ffffff;
    background-color:#76393d;
} 

header ul a.active {
    color:#ffffff;
    background-color:#76393d;
}

/* Hamburger lines */
#hamLines {
    color:#ffffff;
    background-color:#181818;
    padding: 0;
    font-size:2em;
    position:fixed;
    top:0em;
    right:0em;
    width:100%;
    text-align:right;
}

#hamLines .fa {
    margin-right:.5em!important;    
}

/* uo signature */
.uo-sig img {
    display:inline-block;
    max-height:30px;
    position:absolute;
    left:.5em;
    top: .15em;
}

/* =================== CUSTOM CLASSES FOR DIAMONDS & HOME PAGE STYLES =================== */

/* for "cultural forum presents" text on home page */
.cf-presents a {
    font-family: yanone kaffeesatz;
    font-size:1.3em;
    color:#ffffff;
    font-weight:200;
    padding-bottom:.5em;
    border-bottom:1px solid #ffffff;
    display:inline-block;
    margin-bottom:3.5em;
}

.cf-presents a:hover {
    color:#76393d;
}

/* Positions diamonds on front page */
.diamond-container {
    position:relative;
    top:4em;
    vertical-align:middle;
    display:block;
}

/* Large diamond */
.diamond-lg {
    width: 270px;
    height:270px;
    border: 2px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    display: inline-block;
    vertical-align:middle;
    margin: 0 6em;
    z-index:-1;
}

.diamond-lg div {
    position:relative;
    right:20px;
    top:20px;
    height:100%;
    width:100%;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    font-family: source sans pro;
    text-transform: uppercase;
    font-weight: bold;
    font-size:1.1em;
}

/* Medium diamond */
.diamond-md {
    width: 170px;
    height:170px;
    border: 2px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    display: inline-block;
    vertical-align:middle;
    z-index:-1;
}

.diamond-md div {
    position:relative;
    right:0;
    top:0;
    height:100%;
    width:100%;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    font-family: source sans pro;
    text-transform: uppercase;
    font-weight: bold;
    font-size:1.7em;
    padding:1em;
}

/* Free admission text */
.diamond-md div span {
    font-family: yanone kaffeesatz;
    color:#76393d;
    font-size: 1em;
    font-weight:normal;
}

/* Small diamond */
.diamond-sm {
    width: 50px;
    height: 50px;
    border: 2px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    display: inline-block;
    vertical-align:middle;
    margin: 1.5em 1em;
    
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.diamond-sm div {
    position:relative;
    right:0;
    top:0;
    height:100%;
    width:100%;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    vertical-align:middle;
    padding:0.3em;
}

.diamond-sm i {
    color:#76393d;
    font-size:2em;
}

.diamond-sm:hover {
    background-color:rgba(118, 57, 61, 0.1);
}

/* Text logo positioning & sizing */
.willamette {
    font-size:3em;
    letter-spacing:.08em;
}

.valley {
    font-size:5.2em;
    line-height:.4em;
    letter-spacing:.1em;
}

.music {
    font-size:6em;
    line-height:.6em;
    letter-spacing:.09em;
}

.festival {
    font-size:4.2em;
    line-height:.7em;
    letter-spacing:.08em;
}

/* Sets the date, time, and admission for smaller screens. Set to hidden on wide screens. */
#date-sm {
    display:none;
}

#time-sm {
    display:none;
}

#admit-sm {
    display:none;
}

/* =================== SPLITTER & SUBTEXT STYLES =================== */
/* Compass splitter image */
#splitter {
    z-index:0;
    position:relative;
    top:0;
    margin: -1em 0em;
}

/* Blurb of text below the text logo */
/*.subText {
    text-align: justify;
    width:70%;
    font-size: .9em;
}*/

/* =================== ARTISTS PAGE STYLES =================== */

/* side bar containing the list of all artists */
.sidebar {
    background-color:#181818;
    color:#ffffff;
    font-family: yanone kaffeesatz;
    font-size: 1.5em;
    width:20%;
    text-align:right;
    position:relative;
    top:3.5em;
    display:inline-block;
}

/* Tabs/band list */
.sidebar ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

.sidebar ul li {
    padding: .3em .7em;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.sidebar ul li:hover {
    background-color:#1f1f1f;
}

.sidebar ul li a {
    color:#ffffff;
}

.sidebar ul li a:hover {
    color:#ffffff;
}

/* Sets styles for currently active tab/selected band */
.sidebar ul li.active, li.active hover {
    opacity:1;
    background-color:#1f1f1f;
}

/* Tab/band container */
/* Two classes to differentiate which 'tabs' the jquery is calling */ 
.artist-container, .activities-container {
    position:relative;
    top:5.3em;
    width:55%;
    padding: 0 2em;
    display:inline-block;
    vertical-align:top;
    height:65%;
}

.title {
    font-family: yanone kaffeesatz;
    color:#76393d;
    font-size:3em;
}

/* selects the individual tabs/bands and hides them */
.artist {
    display:none;
    height:100%;
}

/* shows the active/selected band */
.artist.active {
    display:block; 
    height:100%;
}

.artist-container img, .activities-container img {
    padding:.5em;
    border:2px solid #ffffff;
    margin-bottom:1em;
    width:100%;
    box-sizing: border-box;
}

.artist-links {
    font-size:1.5em;
    text-align:right;
    margin-top:1em;
}

.artist-content {
    height:45%;
    overflow:scroll;
}

/* Fontawesome icons within artist/activities containers */
.artist-links .fa {
    margin: 0 .5em;
}

/* For dropdown menu list of artists. For small screens only. */
.dropdown-container {
    text-align:center;
    position:relative;
    top:4em;
    width:90%;
    padding: 0 2em;
}

#artist-form, #activities-form {
    width:100%;
    text-align:right;
    font-size:1em;
    display:none;
    margin-bottom:1em;
}


/* =================== VIDEO PAGE STYLES =================== */
/* Positions page content */
#video-page-container {
    text-align:center;
    position:relative;
    top:7em;
}

.video-container {
    position:relative;
    max-width:640px;
    margin:auto;
}

.video-container iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
}


/* =================== FAQ STYLES =================== */

.faq-container {
    position:relative;
    top:5.3em;
    margin:auto;
    width:55%;
}

.faq-title {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    width:100%;
    color:#ffffff;
    font-size:1.5em;
    padding: .4em .5em;
    background-color:#181818;
    display:inline-block;
    border-bottom:1px solid #232323;
    box-sizing: border-box;
}

.faq-title:hover {
    background-color:#1f1f1f;
    color:#ffffff;
}
.faq-title.active {
    color:#ffffff;
    background-color:#1f1f1f;
}

.faq-content {
    display:none;
    width:100%;
    padding: .75em;
    background-color:#f5f5f5;
    box-sizing: border-box;
}

.faq-content.open {
    display:block;
}

.faq-content p {
    margin-left:1em;
}

.faq-content a {
    font-family:arial;
}