/*** =================== 900px =================== ***/
@media only screen and (max-width:900px) {

    /* =================== MENU =================== */
    /* Menu margin between menu elements */
    #nav a {
        padding: .2em .8em;
    }
    
    /* =================== DIAMOND LG =================== */
    /* Large diamond */
    .diamond-lg {
        width: 200px;
        height:200px;
        margin: 0 6em;
        font-size:75%;
    }

    /* Medium diamond */
    .diamond-md {
        width: 120px;
        height:120px;
    }

    .diamond-md div {
        font-size:1.3em;
        padding:.7em;
    }
    
    /* =================== ARTIST/ACTIVITIES PAGE =================== */
    
    .artist-container, .activities-container {
        width:90%;    
        text-align:left;
    }
    
    
    /* Shows dropdown form */
    #artist-form, #activities-form {
        display:inline-block;
    }
    
    /* Hides sidebar */
    .sidebar {
        display:none;    
    }
}

/*** =================== 640px =================== ***/
@media only screen and (max-width:640px) {
    
    /* =================== MENU =================== */
    /* Stacks menu items */
    header ul li {
        display:block; 
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        padding: .2em 0;
    }
    
    header ul li a:hover {
        background-color:transparent;
    }

    header ul li:hover {
        color:#ffffff;
        padding: .2em 0;
        background-color:#76393d;
    } 
    
    header ul li a.active {
    color:#ffffff;
    background-color:transparent;
    }
    
    header ul li.active {
        color:#ffffff;
        background-color:#76393d;
    }
    
    /* For the togglable menu bar */
    header.js {
        display:none;
    }
    
    /* Makes the hamburger lines visible on small screens */
    #hamLines {
        display: inline;    
        z-index:999;
    }
    
    header {
        margin-top:2em;
        font-size:2em;
    }
    
    /* =================== MISC =================== */
    /* Hides the splitter */
    #splitter {
        display: none;
    }
    
    /* Hides the sub text */
    #subText {
        display:none;
    }
    
    .artist-container, .activities-container {
        width:90%;
        padding:0 1em;
    }
    
    .dropdown-container {
        padding: 0 1em;    
    }

    
    /* =================== DIAMOND SM =================== */
    /* Small diamond */
    .diamond-sm {
        width: 30px;
        height: 30px;
        border: 0px;
        background-color: transparent;
        padding:0em;
    }

    .diamond-sm div a {
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

    .diamond-sm:hover {
        background-color:transparent;
    }
    
    .diamond-sm div a:hover {
        color:#181818;
    }
    
    /* =================== DIAMOND LG =================== */
    /* Large diamond */
    .diamond-lg {
        width: 200px;
        height:200px;
        border: 0px;
        background-color: transparent;
        margin: 0;
        z-index:-1;
        font-size:75%;
    }  
    
    /* =================== DIAMOND MD =================== */
    /* Medium diamonds turned into rectangles. Applied to the date/time info */
    .diamond-md {
        width: 95%;
        height:100%;
        border: 2px solid #ffffff;
        background-color: rgba(255, 255, 255, 0.1);
        -ms-transform: rotate(0); /* IE 9 */
        -webkit-transform: rotate(0); /* Chrome, Safari, Opera */
        transform: rotate(0);
        z-index:-1;
        margin-top:.5em;
    }

    .diamond-md div {
        position:relative;
        right:0;
        top:0;
        height:100%;
        width:100%;
        -ms-transform: rotate(0); /* IE 9 */
        -webkit-transform: rotate(0); /* Chrome, Safari, Opera */
        transform: rotate(0);
        font-family: yanone kaffeesatz;
        color:#76393d;
        text-transform: none;
        font-weight: normal;
        font-size:1.7em;
        padding:.1em;
    }
    
    /* Margin between the text logo and the top of the screen */
    .diamond-container {
        margin-top:3.5em;
    }
    
    /* =================== DATE/TIME INFO =================== */
    /* Hides the old date/time info viewed on larger screens */
    #date {
        display:none;    
    }
    
    #time {
        display:none;
    }
    
    /* Makes the new date/time info visible on smaller screens */
    #date-sm {
        display:block;
    }

    #time-sm {
        display:block;
    }

    #admit-sm {
        display:block;
    }

}