/*** =================== 1065px =================== ***/
@media only screen and (max-width:1065px) {
    
#splitter {
        display: none;
    }

    /* =================== DIAMOND SM =================== */
    /* Small diamond */
    .diamond-sm {
        width: 30px;
        height: 30px;
        border: 0px;
        background-color: transparent;
        padding:0em;
        margin:0px 1em;
    }

    .diamond-sm div a {
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

    .diamond-sm:hover {
        background-color:transparent;
    }
    
    .diamond-sm div a:hover {
        color:#181818;
    }


    /* =================== DATE/TIME INFO =================== */
    /* Hides the old date/time info viewed on larger screens */
    #date {
        display:none;    
    }
    
    #time {
        display:none;
    }
    
    /* Makes the new date/time info visible on smaller screens */
    #date-sm {
        display:block;
    }

    #time-sm {
        display:block;
    }

    #admit-sm {
        display:block;
    }
    
    
    /* =================== DIAMOND MD =================== */
    /* Medium diamonds turned into rectangles. Applied to the date/time info */
    .diamond-md {
        width: 500px;
        height:100%;
        border: 2px solid #ffffff;
        background-color: rgba(255, 255, 255, 0.1);
        -ms-transform: rotate(0); /* IE 9 */
        -webkit-transform: rotate(0); /* Chrome, Safari, Opera */
        transform: rotate(0);
        z-index:-1;
        margin-top:.5em;
    }

    .diamond-md div {
        position:relative;
        right:0;
        top:0;
        height:100%;
        width:100%;
        -ms-transform: rotate(0); /* IE 9 */
        -webkit-transform: rotate(0); /* Chrome, Safari, Opera */
        transform: rotate(0);
        font-family: yanone kaffeesatz;
        color:#76393d;
        text-transform: none;
        font-weight: normal;
        font-size:1.7em;
        padding:.1em;
    }
    
    /* Margin between the text logo and the top of the screen */
    .diamond-container {
        margin-top:3.5em;
    }
    
    
    /* =================== DIAMOND LG =================== */
    .diamond-lg {
        border:0;
        background-color:transparent;
    }
    
    .cf-presents a {
        margin-bottom: 1em;
    }
} 

/*** =================== 900px =================== ***/
@media only screen and (max-width:900px) {

    /* =================== MENU =================== */
    /* Stacks menu items */
    header ul a {
        display:block; 
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        padding: .2em 0;
    }
    
    header ul a:hover {
        background-color:#76393d;
    }
    
    header ul a.active {
    color:#ffffff;
    background-color:#76393d;
    }
    
    /* For the togglable menu bar */
    header.js {
        display:none;
    }
    
    /* Makes the hamburger lines visible on small screens */
    #hamLines {
        display: inline;    
        z-index:999;
    }
    
    header {
        margin-top:1.15em;
        font-size:2em; 
    }
    
    .uo-sig img {
        left: .4em;
        top: .14em;
    }
    
    /* moves the ssc logo to a new row */
    header .uo-sig img {
        display:none;
    }

    .sponsors .line3 {
        display:block;
    }
    
    .sponsors .line2 {
        display:block;
    }


}


/*** =================== 640px =================== ***/
@media only screen and (max-width:640px) {
    
    /* =================== MISC =================== */
    /* Hides the splitter */
    #splitter {
        display: none;
    }
    
    /* Hides the sub text */
    #subText {
        display:none;
    }
    
    .diamond-lg {
        margin:0;
    }
    
    /* =================== DIAMOND MD =================== */
    /* Medium diamonds turned into rectangles. Applied to the date/time info */
    .diamond-md {
        width: 95%;
        height:100%;
        border: 2px solid #ffffff;
        background-color: rgba(255, 255, 255, 0.1);
        -ms-transform: rotate(0); /* IE 9 */
        -webkit-transform: rotate(0); /* Chrome, Safari, Opera */
        transform: rotate(0);
        z-index:-1;
        margin-top:.5em;
    }

    .diamond-md div {
        position:relative;
        right:0;
        top:0;
        height:100%;
        width:100%;
        -ms-transform: rotate(0); /* IE 9 */
        -webkit-transform: rotate(0); /* Chrome, Safari, Opera */
        transform: rotate(0);
        font-family: yanone kaffeesatz;
        color:#76393d;
        text-transform: none;
        font-weight: normal;
        font-size:1.7em;
        padding:.1em;
    }
    
    /* Margin between the text logo and the top of the screen */
    .diamond-container {
        margin-top:3.5em;
    }
    
}